body {
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, .btn {
  font-family: "Inter Tight", sans-serif !important;
  margin: 0;
}

h2 {
  @media (max-width: 664px) {
    font-size: 2rem !important;
  }
}

h1 {
  line-height: .85;
  font-size: 4rem;

  @media (max-width: 664px) {
    font-size: 2.5rem;
  }
}

body, a {
  color: #1A1A1A !important;
}

.primary-button-color {
  color: #F99417;
}

img {
  user-select: none;
}

.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

.splide__pagination__page {
  &.is-active {
    background: #ff8d00;
    transform: none;
  }

  &:hover {
    background: #f1c083;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}